category_detail.html{% extends 'base.html'%}
<h1 class="title" > {{model.title}} </h1>
{% block content %}
<div class="columns is-multiline">
    {% for model in models %}
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="media-content">
                        <div class="mdia-content">
                            <p class="title is-4">{{ model.code }}</p>
                            <p class="subtitle is-6">${{ model.name }}</p>
                        </div>    
                    </div>
                </div> 
                <footer class="card-footer">
                    <a href="{% url 'product_detail' category.slug product.slug %}" class="card-footer-item">View</a>
                </footer>    
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}