{% extends 'base.html' %}
{% block title %}Cart | {% endblock %}

{% block content %}
    <div id="cartapp">
        <h1 class="title">Cart</h1>
        {% if cart %}
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                             {% with product=item.product %}
                                <tr>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.quantity }}
                                        <button @click="deIncrementQuantity({{product.id}},{{ item.quantity }},'+')"> +</button>
                                        <button @click="deIncrementQuantity({{product.id}},{{ item.quantity }},'-')"> -</button>
                                    </td>
                                    <td>{{ item.total_price }}</td>
                                    <td><button @click="remove_from_cart({{product.id}})">Remove</button></td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{{productsstring | safe }}
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    var cartapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        data() {
            return {
                products: {{productsstring.products|safe}}
            }
        },
        mounted() {
            console.log("mounted ---- ");
            console.log("products ---- ",this.products);
        },
        methods: {
            deIncrementQuantity(product_id,quantity,operand) {
                operand ==='+' ? quantity +=1 : quantity -=1;
                console.log("incrementQantity :: " + product_id + " quantity: " + quantity);
                var data = {
                        'product_id': product_id,
                        'quantity':quantity,
                        'update':true
                        };
                 fetch('/api/add_to_cart/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        },
                    credentials:'same-origin',
                    body: JSON.stringify(data)
                    })
                    .then((response) => {
                                        if(response.error){
                                            console.log('error 1');
                                            throw result;
                                        }
                                        return response;
                                        }

                        )
                        .then((result) => {
                            if(result){
                                    console.log('add to cart');
                                }
                        })
                        .catch(function(error) {
                            console.log('error 2');
                            console.error('Error:', error);
                        });
                },
            remove_from_cart(product_id) {
                console.log("remove from cart");
                var data = {
                        'product_id': product_id
                        };
                fetch('/api/remove_from_cart/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        },
                    credentials:'same-origin',
                    body: JSON.stringify(data)
                    })
                    .then((response) => {
                                        if(response.error){
                                            console.log('error 1');
                                            throw result;
                                        }

                                        return response;
                                        }

                        )
                        .then((result) => {
                            if(result){
                                    console.log('remove from cart',result);
                                }
                        })
                        .catch(function(error) {
                            console.log('error 2');
                            console.error('Error:', error);
                        });
                }
            }
        });
</script>
{% endblock %}