{% extends 'base.html' %}
{% block title %}Cart | {% endblock %}

{% block content %}
    <div id="cartapp">
        <h1 class="title">Cart</h1>
        {% if cart %}
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                                <tr v-for="product in products">
                                    <td>[[ product.title ]]</td>
                                    <td>[[ product.price ]]</td>
                                    <td>[[ product.quantity ]]
                                        <button @click="deIncrementQuantity(product.id,product.quantity,'+')"> +</button>
                                        <button @click="deIncrementQuantity(product.id,product.quantity,'-')"> -</button>
                                    </td>
                                        <td>[[ product.total_price ]]</td>
                                    <td><button @click="remove_from_cart(product.id)">Remove</button></td>
                                </tr>

                    </tbody>
                </table>
            </div>

        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    var cartapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        data() {


            return {
                products: [{{productsstring|safe}}],
                total_quantity:[{{total_quantity|safe}}],
                total_price:[{{total_price|safe}}],

            }
        },
        store: store,
        mounted() {
            console.log("mounted ---- ");
            console.log("products ---- ",this.products);

        },
        methods: {
            deIncrementQuantity(product_id,quantity,operand) {
                quantity = parseInt(quantity);
                operand ==='+' ? quantity+=1 : quantity-=1;
                operand ==='+' ? store.commit('increment',1) : store.commit('decrement',1)
                console.log("incrementQantity :: " + product_id + " quantity: " + quantity);
                var data = {
                        'product_id': product_id,
                        'quantity': quantity,
                        'update':true
                        };
                 fetch('/api/add_to_cart/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        },
                    credentials:'same-origin',
                    body: JSON.stringify(data)
                    })
                    .then((response) => {
                                        if(response.error){
                                            console.log('error 1');
                                            throw result;
                                        }
                                        for(var i=0;i < this.products.length;i++){
                                            product =  this.products[i];
                                            if(product.id === product_id){
                                                product.quantity = quantity;
                                                product.total_price = product.quantity * product.price
                                                break;
                                            }
                                        }
                                        return response;
                                        }

                        )
                        .then((result) => {
                            if(result){
                                    console.log('add to cart');
                                }
                        })
                        .catch(function(error) {
                            console.log('error 2');
                            console.error('Error:', error);
                        });
                },
            remove_from_cart(product_id) {
                console.log("remove from cart");
                var data = {
                        'product_id': product_id.toString()
                        };
                fetch('/api/remove_from_cart/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                        },
                    credentials:'same-origin',
                    body: JSON.stringify(data)
                    })
                    .then((response) => {
                                  console.log("response::::",product_id);
                                  console.log("this.products before filer:::",this.products);
                                  this.products = this.products.filter(product => product.id !== product_id)
                                  console.log("this.products after filter:::",this.products);
                        })
                        .then((result) => {
                            if(result){
                                    console.log('remove from cart::',result);

                                }
                        })
                        .catch(function(error) {
                            console.log('error 2');
                            console.error('Error:', error);
                        });
                }
            }
        });
</script>
{% endblock %}